* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

#nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

#nav-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gola {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
}

.gola:hover {
  background-color: aqua;
}

#nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#nav-part2 h4 {
  font-size: 16px;
  font-weight: 555;
}

#nav-part2 h4:hover {
  color: rgb(0, 153, 255);
}

#nav-part2 h4 span {
  color: gray;
  margin-left: 20px;
}

#nav h5 {
  display: none;
}

#nav2 {
  height: 70px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 50px;
  gap: 60px;
}

#nav2 h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 550;
}

#content {
  height: calc(100% - 150px);
  width: 100%;
}

#text-content {
  height: 40%;
  width: 100%;
  /* background-color: burlywood; */
  display: flex;
  overflow-x: auto;
}

#text-content::-webkit-scrollbar {
  background-color: transparent;
  height: 6px;
}

#text-content::-webkit-scrollbar-thumb {
  background-color: orange;
}

.elem {
  flex-shrink: 0;
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elem h4 {
  font-size: 8vw;
  font-weight: 140;
}

#image-content {
  height: 60%;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

#image-content::-webkit-scrollbar {
  display: none;
}

#image-content img {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  #nav {
    height: 70px;
    padding: 0 22px;
  }

  #nav-part1 {
    gap: 0px;
  }

  .gola {
    height: 14px;
    width: 14px;
    background-color: black;
    border-radius: 50%;
  }

  .gola:hover {
    background-color: aqua;
  }
  #nav-part2 {
    gap: 50px;
  }

  #nav-part2 h4 {
    font-size: 16px;
    display: none;
    font-weight: 555;
  }

  #nav-part2 h4:nth-child(1){
    display: initial;
  }

  #nav h5 {
    display: initial;
    font-size: 22px;
    color: black;
  }

  #nav-part2 h4 span {
    color: gray;
    margin-left: 20px;
  }

  #nav2 {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 10px;
  }

  #nav2 h3 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 550;
    color: #444;
  }

  #content {
    height: calc(100% - 135px);
    width: 100%;
  }

  #text-content {
    height: 30%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    overflow-x: auto;
  }

  #text-content::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
  }

  #text-content::-webkit-scrollbar-thumb {
    background-color: orange;
  }

  .elem {
    flex-shrink: 0;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
  }

  .elem h4 {
    font-size: 18vw;
    white-space: nowrap;
    font-weight: 140;
  }

  #image-content {
    height: 70%;
    width: 100%;
    display: flex;
    overflow-x: auto;
  }

  #image-content::-webkit-scrollbar {
    display: none;
  }

  #image-content img {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
